# Node modules
node_modules

# Build output
out

# VS Code settings
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Test coverage
coverage

# Misc
*.swp
*.swo
