.github
.vscode
.vscode-test
node_modules
!node_modules/ids
!node_modules/hat
!node_modules/bpmn-js/dist
!node_modules/@vscode/codicons/dist
out/test
resources/bpmn
src
docs
.gitignore
.vscodeignore
.eslintignore
.eslintrc
tsconfig.json
renovate.json
